body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(33, 33, 33);
}
.header {
    font-size: 14px;
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
.header-logo .blue {
    color: rgb(33, 150, 243);
}
.header-stopka {
    color:rgba(117, 117, 117);
}
.header-linki, 
.header-linki-porfolio, 
.header-stopka,
.footer-tel,
.footer-mail {
    text-decoration: none;
    color: rgba(33, 33, 33);
}
.header .header-linki-porfolio:hover,
.header .header-linki-porfolio:focus,
.footer .footer-tel:hover,
.footer .footer-tel:focus,
.footer .footer-mail:hover,
.footer .footer-mail:focus
 {
    color:rgba(33, 150, 243);
}
.cursor-button, .cursor-button-w {
    font-family: 'Roboto';
    font-weight: 500;
    /* musiałam powtórzyć font z 'body' bo inaczej font nie wyświetla się grubszy  ? */
    font-size: 16px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    width: 121px;
    height: 38px;
    left: 510px;
    top: 174px;
    background-color: rgba(245, 244, 250);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cursor-button-w {
    color: rgba(255, 255, 255);
    background-color: rgba(33, 150, 243);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.txt {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: rgb(33, 33, 33);      
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.03em;    
    color: rgb(117, 117, 117); 
}
.footer .adres {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
color: black;
    /* tymczasowo dałam czarny kolor bo tło będzie w kolejnym zadaniu.Powinno być:
    color: rgb(255, 255, 255, 1);
    */
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 1);
}
.footer-logo .blue {
    color: rgb(33, 150, 243);
}